<div class="error-page-area default-padding">
        <div class="container">
            <div class="row align-center text-center">
                <div class="col-lg-8 offset-lg-2">
                    <div class="error-box">
                        <img src="{{ directory }}/assets/img/illustration/1.png" alt="Thumb">
                        <h2>Sorry Page Was Not Found!</h2>
                        <p>
                            Household shameless incommode at no objection behaviour. Especially do at he possession insensible sympathize boisterous regular inspiration.
                        </p>
                        <a class="btn circle btn-md btn-theme border" href="#"><i class="fas fa-angle-right"></i> Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
