<div class="volunteer-area bg-gray default-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="site-heading text-center">
					<h5>Volunteer</h5>
					<h2>
						Thank you to our
						<br>
						wonderful volunteers
					</h2>
					<div class="heading-divider"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div
			class="volunteer-items volunteer-carousel owl-carousel owl-theme text-center">
			<!-- Single Item -->
			<div class="item">
				<div class="thumb">
					<img src="{{ directory }}/assets/img/team/1.jpg" alt="Thumb">
					<div class="social">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="info">
					<h4>Jones Park</h4>
					<span>Volunteer</span>
				</div>
			</div>
			<!-- End Single Item -->
			<!-- Single Item -->
			<div class="item">
				<div class="thumb">
					<img src="{{ directory }}/assets/img/team/2.jpg" alt="Thumb">
					<div class="social">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="info">
					<h4>Monal Spoa</h4>
					<span>Volunteer</span>
				</div>
			</div>
			<!-- End Single Item -->
			<!-- Single Item -->
			<div class="item">
				<div class="thumb">
					<img src="{{ directory }}/assets/img/team/3.jpg" alt="Thumb">
					<div class="social">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="info">
					<h4>Devid Blue</h4>
					<span>Volunteer</span>
				</div>
			</div>
			<!-- End Single Item -->
			<!-- Single Item -->
			<div class="item">
				<div class="thumb">
					<img src="{{ directory }}/assets/img/team/4.jpg" alt="Thumb">
					<div class="social">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="info">
					<h4>Jones Park</h4>
					<span>Volunteer</span>
				</div>
			</div>
			<!-- End Single Item -->
		</div>
	</div>
</div>
