<div class="js-form-item form-item js-form-type-select form-item-role js-form-item-role">
  <!-- THEME DEBUG -->
  <!-- THEME HOOK: 'form_element_label' -->
  <!-- BEGIN OUTPUT from 'core/modules/system/templates/form-element-label.html.twig' -->
  <label for="edit-role">Employee Role</label>
  <!-- END OUTPUT from 'core/modules/system/templates/form-element-label.html.twig' -->

  <!-- THEME DEBUG -->
  <!-- THEME HOOK: 'select' -->
  <!-- BEGIN OUTPUT from 'core/modules/system/templates/select.html.twig' -->
  <select data-drupal-selector="edit-role" id="edit-role" name="role" class="form-select" style="display: none">
    <option value="Software Engineer">Software Engineer</option>
    <option value="QA Engineer">QA Engineer</option>
    <option value="Data Analyst">Data Analyst</option>
  </select>
  <div class="nice-select form-select" tabindex="0">
    <span class="current">Software Engineer</span>
    <ul class="list">
      <li data-value="Software Engineer" class="option selected">
        Software Engineer
      </li>
      <li data-value="QA Engineer" class="option">QA Engineer</li>
      <li data-value="Data Analyst" class="option">Data Analyst</li>
    </ul>
  </div>
  <!-- END OUTPUT from 'core/modules/system/templates/select.html.twig' -->
</div>