<!-- Star About Area																		    ============================================= -->
<div class="about-area default-padding">
	<div class="container">
		<div class="row align-center">

			<div class="col-lg-6">
				<div class="thumb">
					<img src="{{ directory }}/assets/img/about/1.jpg" alt="Thumb">
					<div class="overlay">
						<h4>More then 365 000+ People Were Helped</h4>
					</div>
				</div>
			</div>

			<div class="col-lg-6 info">
				<h5>About Us</h5>
				<h2 class="text-blur">About</h2>
				<h2 class="area-title">We’re worldwide non-profit charity ogranization.</h2>
				<p>
					Principles travelling frequently far delightful its especially acceptance. Happiness necessary.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore nesciunt ad suscipit iusto dolorum quae recusandae quo illum libero excepturi, provident facere. Delectus possimus cupiditate voluptatum.
				</p>
				<ul>
					<li>
						<h5>168K</h5>
						<span>Plants Protected</span>
					</li>
					<li>
						<h5>5M Ton
						</h5>
						<span>Water Conserved</span>
					</li>
					<li>
						<h5>37K Sqmi.</h5>
						<span>Ocean Proteced</span>
					</li>
				</ul>
				<a class="btn circle btn-theme border btn-md" href="#">become a volunteer</a>
			</div>

		</div>
	</div>
</div>
<!-- End About Area -->
