<div class="fun-factor-area bg-gray half-bg default-padding-bottom">
	<div class="container">
		<div class="fact-items text-center bg-cover" style="background-image: url({{ directory }}/assets/img/banner/17.jpg);">
			<div class="row">
				<div class="col-lg-3 col-md-6 item">
					<div class="fun-fact">
						<div class="timer" data-to="28" data-speed="2000">28</div>
						<span class="medium">Years of Foundation</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 item">
					<div class="fun-fact">
						<div class="timer" data-to="780" data-speed="5000">780</div>
						<span class="medium">monthly donors</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 item">
					<div class="fun-fact">
						<div class="timer" data-to="1600" data-speed="5000">1600</div>
						<span class="medium">incredible volunteers</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 item">
					<div class="fun-fact">
						<div class="timer" data-to="688" data-speed="5000">688</div>
						<span class="medium">successful campains</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
