{%
  set classes = [
    dom_id ? 'event-area carousel-shadow default-padding bottom-less bg-gray js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{attributes.addClass(classes)}}>
	{{ include('@sci_demo/templates/component/views/default-views-view.html.twig') }}
</div>
