{%
  set classes = [
    dom_id ? 'causes-area bg-gray default-padding js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{attributes.addClass(classes)}}>
	{{ include('@sci_demo/templates/component/views/default-views-view.html.twig') }}
</div>

