<div>
	<!-- Preloader Start -->
	<div class="se-pre-con"></div>
	<!-- Preloader Ends -->
	<div>
		{{ page.header }}
		<div>
			{{ page.banner }}
		</div>
	</div>

	<div>
		{{ page.content }}
	</div>
	<div>
		{{ page.footer }}
	</div>
</div>
