{% extends "page.html.twig" %}

{% block header %}
	{% if page.header or page.primary_menu or page.secondary_menu %}
		<header id="home">
			<div>
				{{ page.header }}
				{% if page.secondary_menu %}
					{{ page.secondary_menu }}
				{% endif %}
			</div>

			{% if page.primary_menu %}
				<div>
					{{ page.primary_menu }}
				</div>
			{% endif %}
		</header>
	{% endif %}
{% endblock %}

{% block slider %}
	{{ page.slider }}
{% endblock %}
