<div class="hibiscus">
	{% if page.header %}
		{{ page.header }}
	{% endif %}

	{% if page.navbar %}
		{{ page.navbar }}
	{% endif %}

	{% block slider %}
		<!-- Placeholder for slider, can be overridden -->
	{% endblock %}

	{% block content %}
		<div
			class="container">

			{{ page.content }}

		</div>
	{% endblock %}

	{% block footer %}
		<footer>
			{{ page.footer }}
		</footer>
	{% endblock %}
</div>
