<div class="hibiscus">
	<!-- Header Section -->
	{{ page.header }}
	<div class="container">
		<!-- Highlighted Section -->
		{% if page.highlighted %}
			<div class="row my-4">
				<div class="col">
					<div class="p-4 bg-light border rounded shadow-sm">
						{{ page.highlighted }}
					</div>
				</div>
			</div>
		{% endif %}

		{{ page.content }}

	</div>
	<!-- Footer Section -->
	{{ page.footer }}
</div>
