<div class="blog-area default-padding bottom-less">
	<div class="container">
		<div class="blog-items">
			<div class="row">
				{% for row in rows %}
					{{- row.content -}}
				{% endfor %}
			</div>
		</div>
	</div>

</div>
